a:link {
    color: #78A300;
    text-align: right;
}

#matchFound {
	color: #78A300;
}
.footerClass {
	font-size: 75%;
	color: 78A300;
	text-align: right;
}
#userName {
	font-style: italic;
	color: #78A300;
}
.centered {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    float: right;
}